.main-body{
	width: 650px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.poll-body{	
    background-color: #eeeeee47;
    padding: 25px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.question-body{
	font-weight: 600;
    margin-bottom: 25px;
}

.question-body input{
	width: 100%;
    border: 10px;
    padding: 10px;
}

.url-builder-body{
	margin-top: 25px;
    background: #b6ffff1a;
    padding: 25px;
    border-radius: 10px;
    visibility: hidden;
}

.add-option{
	display: flex;
    margin: 15px;
}

.option-body{
	display: flex;
	margin-bottom: 20px;
}

.option-text{
    margin-left: 25px;
    width: 100%;
}

.option-text input{
	width: 100%;
    border: 10px;
    padding: 10px;
}

.svg-button{
	cursor: pointer;
	padding: 15px;
}

button{
	float: right;
	margin-top: 25px;
	background-color: #fafafa !important;
	border-color: #fafafa !important;
	color: black !important;
}

.query-text{
    font-style: italic;
}

canvas{
    margin-bottom: 10px;
}

.login-div{
    margin-bottom: 25px;
    display: flex;
}

.login-div button{
    margin: 0;
    float: none;
    margin-left: 25px;
    border: 1px solid black !important;
    height: 30px;
}

#status-bar{
    float: right;
    width: 100%;
    text-align: right;
    padding-top: 5px;
    height: 30px;
}

.users-div{
    display: flex;
}

#n-voters{
    margin-left: 25px;
}

.winners-list{
    list-style: none;
    padding: 0;
}

.winners-div{
    position: absolute;
    top: 50px;
    left: 50px;
}

.winners-div label{
    font-weight: bold;
}

.voters-div input{
    margin-left: 25px;
}

.voters-div{
    position: absolute;
    top: 25px;
    right: 50px;
}

.voters-div ul{
    list-style: none;
}